

.input-field{
    background: #eaeaea;
    margin:15px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.input-field input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: olive;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button:active {
    background-color: green;
}
